img{
    width: 80px;
    height: 80px;
 }
 .btn-warning{
   position: relative;
   padding: 11px 16px;
   font-size: 15px;
   line-height: 1.5;
   border-radius: 3px;
   color: #fff;
   background-color: #ffc100;
   border: 0;
   transition: 0.2s;
   overflow: hidden; 
 }
 
 .btn-warning input[type = "file"]{
   cursor: pointer;
   position: absolute;
   left: 0%;
   top: 0%;
   transform: scale(3);
   opacity: 0;
 }
 
 .btn-warning:hover{
   background-color: #d9a400;
 }
 img{
   width: 150px;
   height: 150px;
 }
 .avatar-wrapper{
	position: relative;
	height: 200px;
	width: 200px;
	margin: 50px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;

	.profile-pic {
    height: 100%;
		width: 100%;
		transition: all .3s ease;
		&:after{
			font-family: FontAwesome;
			content: "\f007";
			top: 0; left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			font-size: 190px;
			background: #ecf0f1;
			color: #34495e;
			text-align: center;
		}
	}
	 
}