 
<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
    
  <form  *ngIf="!data.isEdit" [formGroup]="formGroup">
      <p >
        <mat-form-field appearance="outline">
          <mat-label>Loại loại voucher</mat-label>
          <mat-select [(ngModel)]="typeOfVoucher" [ngModelOptions]="{standalone: true}">
            <mat-option value="price">Giảm giá theo giá đơn hàng</mat-option>
            <mat-option value="freeship">Giảm giá phí ship</mat-option>
          </mat-select>
          <mat-icon matSuffix>category</mat-icon>
       
        </mat-form-field>
      </p>
      <p   >
        <mat-form-field appearance="outline">
          <mat-label >Số lượng</mat-label>
          <input type="number"  formControlName="amountInput" matInput placeholder="Nhập số lượng voucher">
          <mat-icon matSuffix>pin</mat-icon>
          <mat-hint  *ngIf=" (formGroup.get('amountInput').invalid && formGroup.get('amountInput').touched) || (formGroup.get('amountInput').invalid && isSubmit)"> Vui lòng nhập số lượng</mat-hint>

        </mat-form-field>
      </p>
    
     
      
      <p *ngIf="typeOfVoucher=='price'">
        <mat-form-field appearance="outline">
          <mat-label>Phần trăm giảm giá theo giá đơn hàng</mat-label>
          <input  type="number" formControlName="discountprice"  matInput placeholder="Nhập % giảm giá voucher theo giá đơn hàng">
          <mat-icon matSuffix>percent</mat-icon>
          <mat-hint  *ngIf=" (formGroup.get('discountprice').invalid && formGroup.get('discountprice').touched) || (formGroup.get('discountprice').invalid && isSubmit)"> Vui lòng nhập phần trăm giảm giá theo giá đơn hàng</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <p   *ngIf="typeOfVoucher=='freeship' ">
          <mat-form-field appearance="outline">
            <mat-label>Giảm giá phí ship</mat-label>
            <input  type="number" formControlName="discountfreeship"  matInput placeholder="Nhập % giảm giá voucher giảm giá phí ship">
            <mat-icon matSuffix>percent</mat-icon>
            <mat-hint  *ngIf=" (formGroup.get('discountfreeship').invalid && formGroup.get('discountfreeship').touched) || (formGroup.get('discountfreeship').invalid && isSubmit)"> Vui lòng nhập phần trăm giảm giá theo giá đơn hàng</mat-hint>

          </mat-form-field>
        </p>
         
     
      <p>
        <mat-form-field   class="example-full-width" appearance="outline">
          <mat-label>Ngày hết hạn</mat-label>
          <input formControlName="dateExpiration"  matInput [min]="minDate"   [matDatepicker]="picker">
        
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint  *ngIf=" (formGroup.get('dateExpiration').invalid && formGroup.get('dateExpiration').touched) || (formGroup.get('dateExpiration').invalid && isSubmit)"> Vui lòng chọn ngày hết hạn voucher</mat-hint>

        </mat-form-field>
      </p>
      
      
      
       
        
    </form>   
    <form  *ngIf="data.isEdit" [formGroup]="formGroup">
      
      
    
     
      
      
         
     
      <p>
        <mat-form-field   class="example-full-width" appearance="outline">
          <mat-label>Ngày hết hạn</mat-label>
          <input formControlName="dateExpiration"  matInput [min]="minDate"   [matDatepicker]="picker">
        
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint  *ngIf=" (formGroup.get('dateExpiration').invalid && formGroup.get('dateExpiration').touched) || (formGroup.get('dateExpiration').invalid && isSubmit)"> Vui lòng chọn ngày hết hạn voucher</mat-hint>

        </mat-form-field>
      </p>
      
      
      
       
        
    </form>   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button  mat-dialog-close color="warn">Hủy</button>
  <button mat-raised-button *ngIf="!data.isEdit" (click)="createVoucher()"  color="primary" cdkFocusInitial>{{data.textBtn}}</button>
  <button mat-raised-button *ngIf="data.isEdit" (click)="editVoucher()"  color="primary" cdkFocusInitial>{{data.textBtn}}</button>

</mat-dialog-actions>
