<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <nz-layout *ngIf="isLogin" class="app-layout">
        <nz-sider class="menu-sidebar" nzCollapsible nzWidth="270px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
            <div class="sidebar-logo">
                <a href="https://ng.ant.design/" target="_blank">
                    <img src="../assets/logoshop.png" alt="logo">
                    <h1>Double-L Store</h1>
                </a>
            </div>
            <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
                <li *ngIf="isAdmin" nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/role"]'>
                        <div class="d-flex align-items-center">
                            <mat-icon>psychology</mat-icon>
                            Quản lý vai trò
                        </div>
                    </a>
                </li>
                <li *ngIf="isAdmin" nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/staff"]'>
                        <div class="d-flex align-items-center">
                            <mat-icon>person</mat-icon>
                            Quản lý nhân viên
                        </div>
                    </a>
                </li>
                 
                <li *ngIf="isAdmin"  nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/customer"]'>
                        <div class="d-flex align-items-center">
                            <mat-icon>group</mat-icon>
                            Quản lý khách hàng
                        </div>
                    </a>
                </li>
                <li *ngIf="isAdmin" nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/category"]'>
                        <div class="d-flex align-items-center">
                            <mat-icon>category</mat-icon>
                            Quản lý loại sản phẩm
                        </div>
                    </a>
                </li>
                <li *ngIf="isAdmin" nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/product"]'>
                        <div class="d-flex align-items-center">
                            <mat-icon>dry_cleaning</mat-icon>
                            Quản lý sản phẩm
                        </div>
                    </a>
                </li>
             
                <li *ngIf="isAdmin" nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/voucher"]'>
                        <div class="d-flex align-items-center">
                            <mat-icon>redeem</mat-icon>
                            Quản lý voucher
                        </div>
                    </a>
                </li>
                
                <li nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/order"]'>
                        <div class="d-flex align-items-center">
                            <mat-icon *ngIf="countOrder>0" matBadge="{{countOrder}}" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
                            <mat-icon *ngIf="countOrder==0" matBadgeColor="warn" matBadgeSize="small">shopping_cart</mat-icon>
                            Quản lý đơn đặt
                        </div>
                    </a>
                </li>
                <li *ngIf="isAdmin" nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/turnover"]'>

                        <div class="d-flex align-items-center">

                            <mat-icon>bar_chart</mat-icon>
                            Thống kê doanh thu đơn hàng
                        </div>
                    </a>
                </li>
                <li *ngIf="isAdmin" nz-menu-item nzMatchRouter>
                    <a [routerLink]='["/general-statistics"]'>
                        <div class="d-flex align-items-center">
                            <mat-icon>show_chart</mat-icon>
                            Thống kê chung
                        </div>
                    </a>
                </li>
                <li *ngIf="isAdmin" nz-menu-item nzMatchRouter>
                    <a routerLink="/chat">
                        <div class="d-flex align-items-center">
                            <mat-icon *ngIf="countMessUnread>0" matBadge="{{countMessUnread}}" matBadgeColor="warn" matBadgeSize="small">forum</mat-icon>
                            <mat-icon *ngIf="countMessUnread==0" matBadgeColor="warn" matBadgeSize="small">forum</mat-icon>
                            Tin nhắn
                        </div>
                    </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <a (click)="logOut()">
                        <div class="d-flex align-items-center">
                            <mat-icon  >logout</mat-icon>
                            Đăng xuất
                        </div>
                    </a>
                </li>
            </ul>
        </nz-sider>
        <nz-layout>
            <nz-header>
                <div class="app-header">
                    <div class="d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight"> <i (click)="isCollapsed = !isCollapsed"
                                class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                        </div>
                        <div class="p-2 bd-highlight"><i> <img *ngIf="avatar" class="rounded-circle border border-info"
                                    src="{{avatar}}">

                            </i></div>
                        <div class="p-2 bd-highlight"><i>{{username}}</i></div>
                        <div class="p-2 bd-highlight"><i>
                                <i class="btn-account " [matMenuTriggerFor]="menu">Quản lí tài khoản </i>

                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="goProfilePage()">
                                        <mat-icon>person</mat-icon><span>Quản lí tài khoản</span>
                                    </button>
                                    <button (click)="logOut()" mat-menu-item>
                                        <mat-icon>logout</mat-icon><span>Đăng xuất</span>
                                    </button>
                                </mat-menu>
                            </i> </div>
                    </div>
                </div>
            </nz-header>
            <nz-content style="overflow-y:auto;">
                <div id="inner-content" class="inner-content">
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
    <app-sign-in *ngIf="!isLogin"></app-sign-in>
</body>

</html>