<div  class="border" >
    <mat-card>

        <h5>Hồ sơ của tôi</h5>
        <p>Quản lý thông tin hồ sơ </p>
    </mat-card>
    <br>
    
    <div class="d-flex align-items-center">
        <mat-card class="information">
            <form [formGroup]="formGroup">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Tên đăng nhập</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                            value="{{data?.username}}">
                    </div>
                 
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="staticEmail"
                            value="{{data?.email}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Tên</label>
                    <div class="col-sm-10">
                        <input formControlName="fullname" type="text" class="form-control" id="inputPassword">
                        <mat-hint  *ngIf=" (formGroup.get('fullname')?.invalid && formGroup.get('fullname')?.touched)"> 
                            Vui lòng nhập họ tên
                        </mat-hint>
                    </div>
                 
                </div>
              
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Số điện thoại</label>
                    <div class="col-sm-10">
                        <input (input)="inputPhoneChange()" formControlName="phonenumber" type="text" class="form-control" id="inputPassword">
                        <mat-hint  *ngIf=" (formGroup.get('phonenumber')?.invalid && formGroup.get('phonenumber')?.touched)"> 
                            Vui lòng nhập số điện thoại
                        </mat-hint>
                        <mat-hint *ngIf=" !phonenumberValidate && formGroup.get('phonenumber')?.valid">Số điện thoại không hợp lệ </mat-hint>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Giới tính</label>
                    <div class="col-sm-10">
                        <div class="d-flex align-items-center">
                        
                        
                            <mat-form-field appearance="outline">
                            <mat-select formControlName="gender">
                                <mat-option value="Name">Nam</mat-option>
                                <mat-option value="Nữ">Nữ</mat-option>
                                <mat-option value="Khác">Khác</mat-option>
                              </mat-select>
                              <mat-hint  *ngIf=" (formGroup.get('gender')?.invalid && formGroup.get('gender')?.touched) || (formGroup.get('gender')?.invalid && isSubmit)"> 
                                Vui lòng chọn giới tính
                              </mat-hint>
                              </mat-form-field>
                        </div>

                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-sm-10">
                      <button type="submit" (click)="editadmin()" class="btn btn-primary">Lưu</button>
                    </div>
                  </div>
            </form>
        </mat-card>
        <mat-card class="avatar">
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <img class="avatar-change border border-primary rounded-circle" src="{{data?.avatar}}">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="p-2">
                    <button (click)="changeAvatar()" mat-raised-button> Thay đổi</button>
                </div>
            </div>
            
                
                
               
        </mat-card>
    </div>
    


</div>

 
 
 
     
 
    
 