  
<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input (input)="inputEmailChange()" formControlName="email" matInput placeholder="Nhập email">
      
        <mat-hint *ngIf="emailValidate && formGroup.get('email').invalid && formGroup.get('email').touched "> Chọn một địa chỉ email</mat-hint>
        <mat-hint *ngIf=" !emailValidate && formGroup.get('email').valid">Email không hợp lệ </mat-hint>
        <mat-hint *ngIf=" !emailExist && emailValidate && formGroup.get('email').valid">{{errorRes}} </mat-hint>
      </mat-form-field>
    </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Tên</mat-label>
            <input formControlName="fullname" matInput placeholder="Nhập tên người dùng">
         
             
            <mat-hint *ngIf="formGroup.get('fullname').invalid && formGroup.get('fullname').touched ">Nhập tên người dùng</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Tên đăng nhập</mat-label>
            <input  (input)="inputUserNameChange()" formControlName="username"  matInput placeholder="Nhập tên đăng nhập">
        
             
            <mat-hint *ngIf="formGroup.get('username').invalid && formGroup.get('username').touched ">Nhập tên đăng nhập </mat-hint>
            <mat-hint *ngIf=" !usernameValidate && formGroup.get('username').valid">Tên đăng nhập không hợp lệ 
              (ít nhất 8 kí tự nhiều nhất 16 kí tự, không có kí tự đặc biệt) </mat-hint>
              <mat-hint *ngIf=" !usernameExist && emailValidate && formGroup.get('username').valid">{{errorRes}} </mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Số điện thoại</mat-label>
            <input  (input)="inputPhoneNumberChange()" formControlName="phonenumber"  matInput placeholder="Nhập tên đăng nhập">
           
             
            <mat-hint *ngIf="formGroup.get('phonenumber').invalid && formGroup.get('phonenumber').touched ">Nhập số điện thoại</mat-hint>
            <mat-hint *ngIf=" !phonenumberValidate && formGroup.get('phonenumber').valid">Số điện thoại không hợp lệ </mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Giới tính</mat-label>
            <mat-select   formControlName="gender">
              <mat-option value="Nam">Nam</mat-option>
              <mat-option value="Nữ">Nữ</mat-option>
              <mat-option value="Khác">Khác</mat-option>
            </mat-select>
         
         

          </mat-form-field>
        </p>

        
        
        
  </form>

      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button  mat-dialog-close color="warn">Hủy</button>
  <button [disabled]="" (click)="editCustomer()"  mat-raised-button  color="primary" cdkFocusInitial>{{data.textBtn}}</button>
</mat-dialog-actions>

 
