<mat-card class="example-card">
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    <mat-card-title>{{data.name}} </mat-card-title>
    <div class="d-flex align-items-center">
        <img style="height:200px; width:200px" src="{{data.image}}">
        <mat-card-content style="margin-left: 30px;">
            <p> Id : {{data.id}}</p>
            <p>Mô tả : {{data.description}}</p>
            <p> Ngày tạo : {{data.dateCreated | date: 'dd-MM-yyyy'}} </p>
        </mat-card-content>
    </div>
    
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
        <button mat-raised-button mat-dialog-close color="warn">Đóng</button>
         
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>