<div class="d-flex justify-content-center">

    <div class="calendar-container">
        <header>
            <div class="month"> Ngày làm việc {{dataRes?.month}}</div>
        </header>
        <table class="calendar">
            <thead>
                <tr>
                    <td>T2</td>
                    <td>T3</td>
                    <td>T4</td>
                    <td>T5</td>
                    <td>T6</td>
                    <td>T7</td>
                    <td>CN</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let d of dateoflastmonth" class="{{d.class}}">{{d.value}}</td>
                </tr>
                <tr>
                    <td *ngFor="let d of dateofmonth.slice(0,7)" class="{{d.class}}">{{d.value}}</td>
                </tr>
                <tr>
                    <td *ngFor="let d of dateofmonth.slice(7,14)" class="{{d.class}}">{{d.value}}</td>
                </tr>
                <tr>
                    <td *ngFor="let d of dateofmonth.slice(14,21)" class="{{d.class}}">{{d.value}}</td>
                </tr>
                <tr>
                    <td *ngFor="let d of dateofmonth.slice(21,28)" class="{{d.class}}">{{d.value}}</td>
                </tr>
                <tr>
                    <td *ngFor="let d of dateofnextmonth" class="{{d.class}}">{{d.value}}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex flex-row">
            <div class="p-2">  (Ghi chú)  </div>
             
          </div>
          <div class="d-flex flex-row">
             
            <div class="p-2"> <p style="width:20px;" class="text-danger bold">13 </p></div>
            <div class="p-2"> : Ngày nhân viên đã làm trong tháng này</div>
          </div>
       
          
        
    </div>
    <mat-card style="margin-left:20px ; " class="example-card">

        <mat-card-header>
            <div mat-card-avatar class=""><img src="{{dataRes?.staff.avatar}}" class="rounded-circle" style="background-size: cover;"></div>
            <mat-card-title>{{dataRes?.staff.fullname}}</mat-card-title>
            <mat-card-subtitle>{{dataRes?.staff.email}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>


            <p>Ngày hiện tại : {{currentDay}}</p>



            <p>
                Mức lương hiện tại : {{dataRes?.staff.salary | currency:"VND":"symbol"}}/tháng
            </p>

            <p>
                Số ngày đã làm trong tháng này : {{dataRes?.numberOfWorking}}
            </p>

            <p>
                Lương phải trả hiện tại cho tháng này : {{dataRes?.salaryOfThisMonth| currency:"VND":"symbol"}}
            </p>
            <p>
                <button *ngIf="!dataRes?.isWorking"  [disabled]="!dataRes?.isWorking"  mat-raised-button   color="primary">Chốt lương cho tháng này (đã tính)</button>
              
            </p>
            <p>
                  
                <button *ngIf="dataRes?.isWorking"    mat-raised-button (click)="PayForMonth()" color="primary">Chốt lương cho tháng này </button>
            </p>
            <p *ngIf="payForToday">
                <button mat-raised-button [disabled]="payForToday" color="primary">

                    Tính lương ngày hôm nay(đã tính)
                </button>
            </p>
            <p *ngIf="!payForToday">
                <button mat-raised-button [disabled]="!dataRes?.isWorking" (click)="PayForToday()"  color="primary">

                    Tính lương ngày hôm nay 
                </button>
            </p>

        </mat-card-content>

    </mat-card>
</div>