 
    
    <mat-card class="border">
        <mat-card-title>Thống kê doanh thu  </mat-card-title>
        <div style="font-size: 25px;" id="divChartTurnOver">
            <canvas id="myChartTurnOver"></canvas>
        </div>
    </mat-card>
    
    
    <br>
    <mat-card class="border">
        <mat-card-title>Thống kê  chi phí lương nhân viên và nhập sản phẩm </mat-card-title>
        <div style="font-size: 25px;" id="divChartCost">
            <canvas id="myChartCost"></canvas>
        </div>
    </mat-card>
    <br>
    <mat-card class="border">
        <mat-card-title>Thống kê chi phí voucher</mat-card-title>
        <div style="font-size: 25px;" id="divChartVoucher">
            <canvas id="myChartVoucher"></canvas>
        </div>
    </mat-card>
  
  

 

<br>
<mat-card class="border">
    <mat-card-title>Thống kê đơn hàng</mat-card-title>
    <div class="d-flex align-items-center">
        <div class="d-flex flex-column">
            <div style="font-size: 18px;" id="divChartCountOrderDelivered">
                <canvas class="CountOrderDelivered" id="myChartCountOrderDelivered"></canvas>
            </div>
            <div style="font-size: 18px;" id="divChartCountOrderCancel">
                <canvas class="CountOrderDelivered" id="myChartCountOrderCancel"></canvas>
            </div>

        </div>
        <div style="font-size: 18px;" id="divChartCountOrder">
            <canvas id="myChartCountOrder"></canvas>
            <br>

            <div style="text-align: center;font-size:12px">Đơn hàng hiện tại </div>
        </div>
    </div>



</mat-card>
<br>