<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Tên</mat-label>
        <input formControlName="name" matInput placeholder="Nhập tên loại sản phẩm"  class="c">
        <mat-icon matSuffix>edit</mat-icon>
        <mat-hint *ngIf=" formGroup.get('name').invalid && formGroup.get('name').touched " class="text-danger">Chọn tên
          loại sản phẩm</mat-hint>
        <mat-hint *ngIf=" !nameExist   && formGroup.get('name').valid" class="text-danger">{{errorRes}} </mat-hint>

      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Mô tả</mat-label>
        <input formControlName="description" matInput placeholder="Nhập tên loại sản phẩm">
        <mat-icon matSuffix>edit</mat-icon>
        <mat-hint *ngIf=" formGroup.get('description').invalid && formGroup.get('description').touched "
          class="text-danger">Vui lòng điền mô tả loại sản phẩm</mat-hint>
      </mat-form-field>
    </p>

    
    <div class="d-flex align-items-center">
      <div class="upload">
        <button type="button" class="btn-warning">
          <i class="fa fa-upload"></i> Upload File
          <input (change)="onFileSelected($event)" type="file">
        </button>
      </div>
      <div *ngIf="!isChooseImage">
        <div class="d-flex flex-row">
          <div class="p-2"><img src="{{imagePreview}}"></div>
  
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Hủy</button>
  <button *ngIf="!data.isEdit"
    [disabled]="formGroup.get('name').invalid || formGroup.get('description').invalid || isChooseImage" type="submit"
    (click)="createCategory()" mat-raised-button color="primary">{{data.textBtn}}</button>
  <button *ngIf="data.isEdit"
    [disabled]="formGroup.get('name').invalid || formGroup.get('description').invalid || isChooseImage" type="submit"
    (click)="editCategory()" mat-raised-button color="primary">{{data.textBtn}}</button>

</mat-dialog-actions>