 
<h2 mat-dialog-title>Thay đổi mật khẩu</h2>
<br>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Mật khẩu cũ</mat-label>
        <input type="password" formControlName="oldPassword" matInput placeholder="Nhập mật khẩu cũ">
        <mat-icon matSuffix>password</mat-icon>
        <mat-hint  *ngIf=" (formGroup.get('oldPassword').invalid && formGroup.get('oldPassword').touched) || (formGroup.get('oldPassword').invalid && isSubmit)">Vui lòng nhập mật khẩu cũ</mat-hint>

      </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
          <mat-label>Mật khẩu mới</mat-label>
          <input type="password" (input)="inputPassChange()" formControlName="newPassword" matInput placeholder="Nhập mật khẩu mới">
          <mat-icon matSuffix>password</mat-icon>
          <mat-hint  *ngIf=" (formGroup.get('newPassword').invalid && formGroup.get('newPassword').touched) || (formGroup.get('newPassword').invalid && isSubmit)">Vui lòng nhập mật khẩu mới</mat-hint>

          <mat-hint *ngIf=" !passwordValidate && formGroup.get('newPassword').valid">Mật khẩu  không hợp lệ ( mật khẩu ít nhất 6 kí tự , nhiều nhất 20 kí tự , bao gồm chữ hoa, chữ thường và số) </mat-hint>

        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nhập lại mật khẩu mới</mat-label>
          <input (input)="inputConfPassChange()" formControlName="confirmNewPassword" type="password" matInput placeholder="Nhập lại mật khẩu mới">
          <mat-icon matSuffix>password</mat-icon>
          <mat-hint  *ngIf=" (formGroup.get('confirmNewPassword').invalid && formGroup.get('confirmNewPassword').touched) || (formGroup.get('confirmNewPassword').invalid && isSubmit)">Vui lòng nhập mật khẩu cũ</mat-hint>

          <mat-hint *ngIf=" !isconfirmpassword"> Mật khẩu không trùng</mat-hint>
        </mat-form-field>
      </p>
      <mat-hint *ngIf="errText"> {{errText}}</mat-hint>
        
      
      
        
  </form>

      
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button  mat-dialog-close color="warn">Hủy</button>
  
  <button    mat-raised-button (click)="changePassword()"    color="primary" cdkFocusInitial>Thay đổi</button>
</mat-dialog-actions>
