#divChart{
    display: block;
    width: 80%;
   
    
}
#divChartCategory{
    display: block;
    width: 40%;
   
    
}
#divChartProduct{
    display: block;
    width: 40%;
    
    
}
mat-card-title{
    font-size: 18px;
    text-align: center;
}
canvas{
    width: 10%;
    font-size: 18px;
}