<mat-card class="border">
    <mat-card-title>Thống kế số lượng khách hàng mới</mat-card-title>
    <div style="font-size: 18px;" id="divChartCustomer">
        <canvas id="myChartCustomer"></canvas>
    </div>
</mat-card>
<br>
 
<div class="d-flex justify-content-center">
    <div style="font-size: 18px;" id="divChartCategory">
        <mat-card-title>Thống kế số lượng sản phẩm theo loại sản phẩm</mat-card-title>
        <canvas id="myChartCategory"></canvas>
        
    </div>
    <div style="font-size: 18px;" id="divChartProduct">
        <mat-card-title>Thống kế số lượng sản phẩm đã bán  theo loại sản phẩm</mat-card-title>
        <canvas id="myChartProduct"></canvas>
       
    </div>
</div>

   
    
 
