<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight"> <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">Thêm loại sản phẩm</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openCreateCategory()">
            <mat-icon>category</mat-icon><span>Thêm loại sản phẩm</span>
        </button>
        <button   mat-menu-item>
            <mat-icon>file_upload</mat-icon><span>Thêm loại sản phẩm từ file</span>
        </button>
    </mat-menu>
    </div>
    
  </div>
  <div class="d-flex justify-content-center" style="margin-bottom: 10px;">
    <input class="input-search"/>
    <button style="margin-left:20px ;" mat-raised-button color="primary">Tìm kiếm</button>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Company </th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>
    
      <ng-container matColumnDef="show">
        <th mat-header-cell *matHeaderCellDef> Thông tin </th>
        <td mat-cell *matCellDef="let element"><mat-icon (click)="openShowCategory()" style="color: #1890ff;">visibility</mat-icon> </td>
      </ng-container>
      <ng-container matColumnDef="chinhsua">
        <th mat-header-cell *matHeaderCellDef> Chỉnh sửa </th>
        <td mat-cell *matCellDef="let element"> <mat-icon (click)="openEditCategory()" style="color: #1890ff;">edit</mat-icon> </td>
      </ng-container>
    
      <ng-container matColumnDef="xoa">
        <th mat-header-cell *matHeaderCellDef> Xóa </th>
        <td mat-cell *matCellDef="let element"> <mat-icon (click)="openAlertDelete()" style="color: red;">delete</mat-icon> </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
    </table>
    <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>

   