 
 
<div  >
    <div class="bg-illustration">
      
     
        
        <div class="p-2 text-center">
            <div class="d-flex flex-column">
                <div class="p-2" >
                  <img class="rounded-circle"   src="../../../assets/logoshop.png" alt="logo">
                </div>
                <div class="p-2" style="color: #f33f3f;"><h3>Double-L <em >Store</em></h3> </div>

               
              </div>
      
       
      </div>
     

    </div>
 
    
    <div class="login">
      <div class="container">
        <h1>Đăng nhập</h1>
       
    
        <div class="login-form">
          <form action="">
            <input type="email" placeholder="Username">
            <input type="password" placeholder="Password">

            <div class="remember-form">
              <input type="checkbox">
              <span>Remember me</span>
            </div>
            
            <div class="forget-pass">
              <a href="#">Quên mật khẩu ?</a>
            </div>
            <!-- <span style="text-align:center">Bạn chưa có tài khoản- Đăng kí <a (click)="goSignUpPage()" style="color:blue ;cursor:pointer">tại đây</a></span> -->
            <button type="submit" (click)="signIn()">LOG-IN</button>
            
          </form>
        </div>
    
      </div>
      </div>
  </div>
 

